{% extends 'base.html.twig' %}

{% block body %}
    <h3>Facture numéro {{ commande.id }} de {{ commande.patient.name }}</h3>

    <table class="table table-bordered table-hover table-striped results">
        <tbody>
            <tr>
                <th>Montant total</th>
                <td><h3>{{ commande.amount | number_format(0, ',', '.') }} FCFA</h3></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
